# Web Server & Framework
fastapi
uvicorn[standard]
python-multipart
sse-starlette

# Database & Environment
motor
pymongo
python-dotenv

# External Connections
httpx

# Security & Authentication
bcrypt
PyJWT
pydantic[email]

# Document Processing
pypdf
python-docx
openpyxl
reportlab

mailersend

# Testing
pytest
pytest-asyncio
pytest-mock
httpx
